## Imported Libraries

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy.stats import ttest_ind
pd.set_option("display.max_rows", 200)

## Read CSV File

In [92]:
df = pd.read_csv("FIES PUF 2012 Vol.1.CSV")
df

,W_REGN,W_OID,W_SHSN,W_HCN,URB,RSTR,PSU,BWEIGHT,RFACT,FSIZE,AGRI_SAL,NONAGRI_SAL,WAGES,NETSHARE,CASH_ABROAD,CASH_DOMESTIC,RENTALS_REC,INTEREST,PENSION,DIVIDENDS,OTHER_SOURCE,NET_RECEIPT,REGFT,NET_CFG,NET_LPR,NET_FISH,NET_FOR,NET_RET,NET_MFG,NET_COM,NET_TRANS,NET_MIN,NET_CONS,NET_NEC,EAINC,TOINC,LOSSES,T_BREAD,T_MEAT,T_FISH,T_MILK,T_OIL,T_FRUIT,T_VEG,T_SUGAR,T_FOOD_NEC,T_COFFEE,T_MINERAL,T_ALCOHOL,T_TOBACCO,T_OTHER_VEG,T_FOOD_HOME,T_FOOD_OUTSIDE,T_FOOD,T_CLOTH,T_FURNISHING,T_HEALTH,T_HOUSING_WATER,T_ACTRENT,T_RENTVAL,T_IMPUTED_RENT,T_BIMPUTED_RENT,T_TRANSPORT,T_COMMUNICATION,T_RECREATION,T_EDUCATION,T_MISCELLANEOUS,T_OTHER_EXPENDITURE,T_OTHER_DISBURSEMENT,T_NFOOD,T_TOTEX,T_TOTDIS,T_OTHREC,T_TOREC,FOOD_ACCOM_SRVC,SEX,AGE,MS,HGC,JOB,OCCUP,KB,CW,HHTYPE,MEMBERS,AGELESS5,AGE5_17,EMPLOYED_PAY,EMPLOYED_PROF,SPOUSE_EMP,BLDG_TYPE,ROOF,WALLS,TENURE,HSE_ALTERTN,TOILET,ELECTRIC,WATER,DISTANCE,RADIO_QTY,TV_QTY,CD_QTY,STEREO_QTY,REF_QTY,WASH_QTY,AIRCON_QTY,CAR_QTY,LANDLINE_QTY,CELLPHONE_QTY,PC_QTY,OVEN_QTY,MOTOR_BANCA_QTY,MOTORCYCLE_QTY,POP_ADJ,PCINC,NATPC,NATDC,REGDC,REGPC
0,14,101001000,2,25,2,21100,415052,138.25,200.6576,3.0,0,0,0,0,176000,16000,0,0,33000,0,0,4385,76666,0,0,0,0,0,0,0,0,0,0,0,0,325251,0,30263,29374,5204,3533,2136,2129,6517,1149,2472,1890,6356,0,0,0,91023,23330,114353,11191,3598,586,55128,0,19200,19200,0,17280,1470,49567,41200,18636,260,0,198916,313269,313269,0,325251,0,2,75,3,280,2,,,,2,3,,01,,,3,1,1,1,1,2,1,1,1,,01,01,01,01,01,01,,,,02,01,01,,,0.946172,108417.00,9,8,8,9
1,14,101001000,3,43,2,21100,415052,138.25,200.6576,12.5,0,0,0,0,0,14700,0,0,0,0,0,1350,369,0,0,0,0,355776,0,0,8000,0,0,0,363776,382895,0,97693,5820,28836,14484,3016,1230,7885,4145,1875,2532,9076,0,2450,0,176592,8925,185517,3335,4304,1645,24492,0,2700,2700,0,8826,3480,1136,1180,10260,0,0,61108,246625,246625,0,382895,0,1,48,2,250,1,1314,4741,3,2,13,02,04,,01,2,1,5,5,1,2,3,1,1,,01,01,01,02,,,,,,03,,01,,01,0.946172,30631.60,5,9,9,4
2,14,101001000,4,62,2,21100,415052,138.25,200.6576,2.0,0,0,0,31500,95000,0,0,1500,10500,0,0,1625,14830,4030,0,0,0,0,0,0,0,0,0,0,4030,173985,0,14699,13457,7811,1222,1788,2610,5560,1212,1500,582,2704,2070,0,0,53145,1500,54645,5455,3161,7258,40560,0,15000,15000,0,10380,5598,0,0,10224,1615,5000,86321,140966,145966,3684,177669,0,1,55,2,552,2,,,,2,2,,,,,2,2,1,1,1,2,1,1,1,,01,01,01,,01,,01,01,,01,,01,,,0.946172,86992.50,9,6,6,8
3,14,101001000,5,79,2,21100,415052,138.25,200.6576,4.0,0,0,0,0,66000,0,0,0,14000,0,0,7649,29394,48010,2250,0,0,0,0,0,0,0,0,0,50260,173303,0,27846,7787,5106,4112,1713,1530,5435,2262,2539,1386,1214,0,0,0,60930,11130,72060,6750,21548,5400,33714,0,6000,6000,0,3210,2502,1012,430,10020,15,0,84601,156661,156661,23580,196883,0,1,44,2,830,1,6111,0112,4,1,4,,02,,01,2,1,1,1,1,2,1,1,6,00003,01,01,01,01,01,02,,,,02,,01,,,0.946172,43325.75,6,6,6,6
4,14,101001000,10,165,2,21100,415052,138.25,200.6576,5.0,0,32000,32000,12600,0,18000,0,0,0,0,0,7359,130,0,0,0,0,0,0,0,63320,0,0,0,63320,187409,0,29573,11704,8765,4056,1138,1385,4250,1956,1272,1144,1430,1950,1638,0,66673,5180,71853,2390,2871,90,70812,0,54000,54000,0,10050,1902,425,10600,5274,0,0,108002,179855,179855,2300,189709,0,1,42,2,350,1,5220,4775,1,2,5,,02,01,01,2,1,1,1,1,2,1,1,1,,01,01,01,,01,01,,,,01,,,,01,0.946172,37481.80,6,6,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40166,12,9804029001,18,568,1,22000,114062,271.25,963.2264,5.0,0,0,0,0,10000,8000,0,0,0,0,0,0,140,0,0,0,0,123968,0,0,0,0,0,0,123968,150508,0,35755,1148,20122,4580,784,1194,4570,1036,738,1333,2748,0,0,0,74008,19900,93908,903,1387,62,13380,0,8400,8400,0,1632,3960,120,1100,3990,493,0,27027,120935,120935,5000,155508,0,2,28,1,350,1,1314,4711,3,2,5,01,03,00,01,3,1,1,1,1,2,1,1,1,,01,01,00,00,00,00,00,00,00,02,00,00,00,00,0.902863,30101.60,5,5,7,7
40167,12,9804035000,1,25,2,22000,414067,271.25,588.6253,9.0,0,50400,50400,0,15000,20600,0,0,0,0,0,0,620,0,0,0,0,0,0,0,33100,0,0,0,33100,129320,0,58263,8684,23507,3904,1531,4417,5534,2018,2472,3146,3900,0,0,0,117376,9620,126996,2890,1557,120,20754,0,9600,9600,0,19020,2340,3227,700,5814,675,0,57097,184093,184093,10000,139320,0,1,48,2,350,1,8321,4932,1,1,9,00,04,01,00,2,1,1,1,1,2,0,1,2,00005,00,01,01,00,00,00,00,00,00,01,00,01,00,00,0.902863,14368.89,1,5,7,3
40168,12,9804035000,2,51,2,22000,414067,271.25,588.6253,6.0,0,0,0,0,0,16000,0,0,0,0,0,1170,540,28500,0,0,0,59614,0,0,0,0,0,0,88114,114824,0,41459,2600,30017,10976,1316,3770,5011,1459,1318,1434,3153,0,130,0,102513,8720,111233,1335,1315,75,17514,0,9000,9000,0,4200,1680,650,970,4554,600,0,33023,144256,144256,5000,119824,0,1,66,2,230,1,1314,4711,3,2,6,01,01,00,02,2,1,2,2,4,2,0,1,2,00005,01,01,00,00,00,00,00,00,00,01,00,00,00,00,0.902863,19137.33,3,4,6,4
40169,12,9804035000,3,75,2,22000,414067,271.25,588.6253,5.0,0,100761,100761,20000,23500,0,0,0,0,0,0,1664,0,0,0,0,0,0,0,0,0,0,0,0,0,154925,0,51503,8400,26408,3322,936,3594,4213,1386,1607,4226,2004,0,0,0,107599,5580,113179,3600,1145,290,18618,0,9000,9000,0,11556,7200,3826,270,6930,1150,30000,54585,167764,197764,45000,199925,0,1,42,2,280,1,1120,8411,2,2,5,,01,01,00,2,1,1,1,1,2,2,1,2,00004,01,01,01,00,00,00,00,00,00,02,00,01,00,00,0.902863,30985.00,5,6,7,7
40170,12,9804035000,4,102,2,22000,414067,271.25,588.6253,7.0,700,0,700,0,0,3600,0,0,0,0,0,3600,410,92856,0,0,0,0,0,0,0,0,0,0,92856,110166,0,46020,7938,10983,2076,949,3146,4110,9148,3022,1896,3724,0,0,0,93012,11700,104712,1264,1376,86,18708,0,9000,9000,0,5100,1140,0,1800,2748,735,0,32957,137669,137669,0,110166,0,1,46,2,250,1,6121,0126,3,2,7,00,03,00,01,2,1,2,2,4,2,5,1,2,00005,01,01,00,00,00,00,00,00,00,01,00,00,00,00,0.902863,15738.00,2,4,6,3

In [59]:
df.dtypes

W_REGN                    int64
W_OID                     int64
W_SHSN                    int64
W_HCN                     int64
URB                       int64
RSTR                      int64
PSU                       int64
BWEIGHT                 float64
RFACT                   float64
FSIZE                   float64
AGRI_SAL                  int64
NONAGRI_SAL               int64
WAGES                     int64
NETSHARE                  int64
CASH_ABROAD               int64
CASH_DOMESTIC             int64
RENTALS_REC               int64
INTEREST                  int64
PENSION                   int64
DIVIDENDS                 int64
OTHER_SOURCE              int64
NET_RECEIPT               int64
REGFT                     int64
NET_CFG                   int64
NET_LPR                   int64
NET_FISH                  int64
NET_FOR                   int64
NET_RET                   int64
NET_MFG                   int64
NET_COM                   int64
NET_TRANS                 int64
NET_MIN                   int64
NET_CONS                  int64
NET_NEC                   int64
EAINC                     int64
TOINC                     int64
LOSSES                    int64
T_BREAD                   int64
T_MEAT                    int64
T_FISH                    int64
T_MILK                    int64
T_OIL                     int64
T_FRUIT                   int64
T_VEG                     int64
T_SUGAR                   int64
T_FOOD_NEC                int64
T_COFFEE                  int64
T_MINERAL                 int64
T_ALCOHOL                 int64
T_TOBACCO                 int64
T_OTHER_VEG               int64
T_FOOD_HOME               int64
T_FOOD_OUTSIDE            int64
T_FOOD                    int64
T_CLOTH                   int64
T_FURNISHING              int64
T_HEALTH                  int64
T_HOUSING_WATER           int64
T_ACTRENT                 int64
T_RENTVAL                 int64
T_IMPUTED_RENT            int64
T_BIMPUTED_RENT           int64
T_TRANSPORT               int64
T_COMMUNICATION           int64
T_RECREATION              int64
T_EDUCATION               int64
T_MISCELLANEOUS           int64
T_OTHER_EXPENDITURE       int64
T_OTHER_DISBURSEMENT      int64
T_NFOOD                   int64
T_TOTEX                   int64
T_TOTDIS                  int64
T_OTHREC                  int64
T_TOREC                   int64
FOOD_ACCOM_SRVC           int64
SEX                       int64
AGE                       int64
MS                        int64
HGC                       int64
JOB                       int64
OCCUP                    object
KB                       object
CW                       object
HHTYPE                    int64
MEMBERS                   int64
AGELESS5                 object
AGE5_17                  object
EMPLOYED_PAY             object
EMPLOYED_PROF            object
SPOUSE_EMP                int64
BLDG_TYPE                 int64
ROOF                      int64
WALLS                     int64
TENURE                    int64
HSE_ALTERTN               int64
TOILET                    int64
ELECTRIC                  int64
WATER                     int64
DISTANCE                 object
RADIO_QTY                object
TV_QTY                   object
CD_QTY                   object
STEREO_QTY               object
REF_QTY                  object
WASH_QTY                 object
AIRCON_QTY               object
CAR_QTY                  object
LANDLINE_QTY             object
CELLPHONE_QTY            object
PC_QTY                   object
OVEN_QTY                 object
MOTOR_BANCA_QTY          object
MOTORCYCLE_QTY           object
POP_ADJ                 float64
PCINC                   float64
NATPC                     int64
NATDC                     int64
REGDC                     int64
REGPC                     int64
dtype: object

## Selected DF only
* Region: W_REGN
* Urban/Regional: URB (1 = urban, 2 = rural)
* Total Income: TOINC
* Total Expidenture: T_TOTEX

In [91]:
df = df[["OCCUP", "JOB"]]
df.head(41)

   OCCUP  JOB
0           2
1   1314    1
2           2
3   6111    1
4   5220    1
5   6212    1
6           2
7   6111    1
8   1314    1
9   6114    1
10  6111    1
11  6111    1
12  6111    1
13  5132    1
14  1314    1
15          2
16  6111    1
17  6111    1
18  7122    1
19  9211    1
20          2
21  5220    1
22  6111    1
23  1316    1
24  4121    1
25          2
26  6111    1
27  1130    1
28  8322    1
29  1316    1
30          2
31  1314    1
32          2
33  2331    1
34  1316    1
35  3118    1
36  9132    1
37  7241    1
38  6111    1
39          2
40  1312    1

In [60]:
# df = df[["W_REGN","URB","TOINC", "T_TOTEX"]]
# df = df.fillna("")
# df.shape

(40171, 4)

## Question:
* What are the top 10 regions with the highest average total incomes?
* What are the highest paying jobs in all the regions that are currently employed ?

In [81]:
count = df["W_REGN"].value_counts()
count

W_REGN
13    4323
41    3905
3     3154
6     2841
7     2530
5     2293
1     2270
11    2260
8     2170
12    2045
2     2037
15    1864
10    1814
9     1737
14    1722
16    1637
42    1569
Name: count, dtype: int64

In [84]:
aggdf = df.groupby("W_REGN")["TOINC"].mean()
sorted_agg_df = aggdf.sort_values(ascending=False).round(2)
sorted_agg_df = sorted_agg_df.map("{:,.2f}".format)
sorted_agg_df.head(10)

W_REGN
13    377,550.15
41    263,845.54
3     257,516.48
14    250,204.47
1     205,236.51
7     202,649.68
6     201,246.62
2     192,994.08
11    189,222.12
10    181,611.94
Name: TOINC, dtype: object